# node_modules and dependencies
node_modules/
*.lock
yarn.lock
package-lock.json

# React Native / Expo
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Android
android/build/
android/.gradle
android/.idea
android/local.properties
*.apk
*.aab

# iOS
ios/Pods
ios/Podfile.lock
.DS_Store
*.xcworkspace

# Compiled files
*.o
*.class
*.jar

# Build directories
build/
dist/
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
Thumbs.db

# Temp
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

